#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu-item-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Adicione no final do arquivo */
.inline-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.inline-form input {
  flex-grow: 1;
}
.menu-selection-list {
  margin-top: 20px;
}
.menu-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}
.menu-list-item.selected {
  border-color: #007bff;
  background-color: #f0f8ff;
}

.menu-list-item.active {
  border-color: #28a745; /* Borda verde */
  background-color: #e9f7ef; /* Fundo verde claro */
}

.menu-list-item.active button:first-of-type {
  background-color: #28a745;
  color: white;
  cursor: default;
}